.bt_rightside{
    float: right;
    margin-right: 10px;
}

.loginPage{
    border: 2px solid black;
    padding: 30px 50px;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%)
    
}
.input-group-append {
    cursor: pointer;
  }